# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Media files
media/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# Logs
*.log

# Redis
redis-data